body{margin:0; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color:black;}
.navbar{
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    padding: 8px 12px;
    position: sticky;  /*top,left,right,bottom 중 한개의 속성이 필수.*/
    top:0;
   
}
.navbar_logo{
    font-size:24px;  /*awesome logo는 font임*/
   
    padding:8px 12px;
}
.navbar_logo i{
    color: rgb(137, 218, 32);
}

.navbar_menu{
    display:flex;
    list-style: none;
    padding-left: 0px;
    font-size:1.2em;
}

.navbar_menu li{
    padding:8px 12px; /*margin을 넣으면 박스 자체가 작아진다*/ 
}
.navbar_menu li:hover{
    background-color: rgb(137, 218, 32);
    border-radius: 8px;
}

.navbar_account{
    display:flex;
    padding-left: 0px;
}
.navbar_account li{
    list-style: none;
    padding:8px 12px;
}

#navbar_account_join{
    background-color: black;
    border-radius: 8px;
}
#navbar_account_join a{
    color:white;
}
.navbar_hamburgerBtn{
    display: none;
}



#backImgMain{
    width:1920px;
    height:800px;

    position: absolute; /*위에 글씨를 덮어 씌우기 위해. 아니 근데 왜? position 개념 제대로 안잡혔나보다*/
    
    background-color:rgba(0,0,0,0.5);    
    margin-top:0px;
}
#reservation_article{
    clear:both;
    background-image:url('../images/backImg_Main.jpg');
    margin-top:100px; /*꼭 이렇게 해야만 메뉴랑 띠어지나...*/
    background-size: 1920px 800px;
    width:1920px;
    height:800px;
    color:white;
    text-align: center;
    font-size:23px;
}
#reservationBtn{
    color:white;
    width:230px;
    height:60px;
    background-color: rgb(34, 143, 83);
    border-radius: 15px;
    margin-top:3%;
    font-size: 0.9em;

    cursor: pointer;
}
#community_wrap{
    width:1200px;
   
    margin:0 auto;
    margin-top:5%;
    height:400px;
}
#communityImg{
    width:600px;
    height: 400px;
    float:left;
}
#communityText{
    float:left;
    margin-left:5%;
    
    width:500px;
    height:400px;
}

#inquire_wrap{
    clear:both;
    margin:0 auto;
   
    width:1200px;
    height:800px;
   
    margin-top: 5%;
}

.inquireForm_input{
    width:100%;
    height:45px;
}
.inquireForm_content{
    width:100%;
    height:100px;
}
.inquireText, #inquireFormBtn{
    text-align: center;
}
#inquireForm, #inquireFormPrivacy{
    margin-top: 5%;
}
#inquireTable{
    width:100%;
}

#inquireTable tr td, #chkbox{
    border-top: 1px solid rgb(212, 210, 210);
    padding:1%;
}

#inquireFormBtn>input{
    background-color:  rgb(34, 143, 83);
    color:white;
    border:0; 
    outline: 0; 
    width: 200px;
    height: 45px; 
    font-size: 1em; 
    margin-bottom: 3%;

    border-radius: 8px;
    cursor: pointer;
}



@media screen and (max-width:768px){ /*타입이 screen이고 화면 최대가 768일떄*/
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .navbar_menu li{
        width:100%;
        text-align: center;
        padding:8px 10px;
    }
    .navbar_account{
        display: none;
        justify-content: center;
        width: 100%;
    }
    .navbar_hamburgerBtn{
        display: block;
        font-size:24px;
        color: rgb(137, 218, 32);
        position: absolute;
        right:30px;
    }
    .navbar_menu.active, .navbar_account.active{
        display: flex;
    }
}