table{
    width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
}
table caption{
    font-size: 1.2em;
    margin-bottom: 2%;
}


table tr td{
    border-top: 1px solid gray;
    padding: 3% 0px;  /*상하 3%  좌우 0px*/
    text-align: center;
}
.tableLine{
    border-bottom: 1px solid gray;
}

.cancelBtn, .approvalBtn{
    padding:5px 25px;
    cursor: pointer;
    display: block;
    margin:0 auto;
}
.approvalBtn{
    margin-bottom: 10px;
}