*{margin:0; padding:0;}


.groundList_wrap{
    width:700px;
    margin:0 auto;
    margin-top:5%;
}
.groundImg{
    margin:0 auto;
    width: 700px;
    height: 300px;
    position: absolute;
    filter: brightness(60%); 
}
.groundList_content{
    height: 350px;
    margin-bottom: 2%;
}
.groundInfo_NameLocation{
    position: relative;
    width:50%;
    padding:5% 5%;
    color:white;
}
.groundInfo_TimePrice{
    position: relative;
    text-align: right;
    width: 50%;
    float: right;
    margin-top: 10% ;
    padding:5% 5%;
    color:white;
}

.groundInfo_NameLocation, .groundInfo_TimePrice{
    list-style: none;
}

.groundList_wrap h1{
    margin-bottom: 5%;
}