*{margin:0; padding:0;} 

.groundMainImg{
  width:600px;
  height: 400px;
  float: left;
}

.ground_detail_groundInfo{
  width:1200px;
  margin: 0 auto;
  margin-top: 5%;
}
.groundInfo_text{
  float: left;
  list-style: none;
  margin-left: 5%;
}
.groundInfo_text li{
  margin-top: 3%;
}
.location{
  color:gray;
}
.groundIntroduceText{
  margin-top: 10%;
  box-sizing: border-box;
  padding:30px 30px;
  width: 500px;
  height: 170px;
  background: #e6ebeb;
}
.groundImgList{
  cursor: pointer;
  clear: both;
  padding-top: 1%;
  width:600px;
  display:flex;
  justify-content: space-evenly;
}

.groundImgList img{
  
  width:130px;
  height:90px;
}
.groundImgList img:hover{
  border:3px solid gray;
  width:130px;
  height:90px;
}