.unVisible{
    display: none;
}


.menuList{

    width: 1200px;
    margin: 0 auto;
    margin-top: 5%;
    padding: 20px 0px;
    display: flex;
    border-bottom: 1px solid gray;
    font-size: 22px;
}
.menuList li{
    color: rgb(158, 158, 158);
    margin-right: 5%;
    cursor: pointer;
}

.select{
    border-bottom:3px solid black ;
}