li{
    list-style: none;
}

.bookable, .unbookable{
    margin-bottom: 20px;
}
.date{
    position: relative;
    top: -50px;
}
.calendar{
    padding: 2% 0%;
    width:1200px;
    float: left;

}
.choiceReservationInfo{
    color:black;
    border-bottom: 2px solid black;
}
.calendarHeader{
    padding: 18px;
    background: black;
    

    text-align: center;
}
.calendarHeader span{
    color:white;
    font-size: 22px;
    
}
.calendarTable {
    width:1200px;
    
}
.calendarTable thead tr th, .calendarTable tbody tr td{
    font-size: 18px;
    border:1px solid gray;
}
.calendarTable tbody tr{

}
.calendarTable tbody tr td{
    padding:50px 0px;
    
}
.calendarChoiceDate{
    background: #b2d4c0;
}

.unbookable{
    color:red;
}
.bookable:hover{
    border-bottom: 3px solid gray;
    cursor: pointer;
}

.clear{
    clear: both;
}

.reservation_wrap{
    width:1200px;
    border:1px solid black;
    margin: 0 auto;
}
.choiceList{
    width: 1200px;
    margin: 0 auto;
    list-style: none;
    border-bottom: 1px solid gray;
    padding:2% 0%;
    font-size: 22px;
}
.choiceList li{
    display: inline;
    margin-right: 5%;
    color:gray;
}
