.groundInfo_wrap{
  width:1200px;
  margin: 0 auto;
  margin-top: 5%;
}

.groundInfo_Content_wrap{
  display: flex;
}
.groundMainImg{
  width:600px;
  height: 400px;
}

.groundInfo_text{
  list-style: none;
  margin-left: 5%;
}
.groundInfo_text li{
  margin-top: 3%;
}
.location{
  color:gray;
}
.groundIntroduceText{
  margin-top: 10%;
  box-sizing: border-box;
  padding:30px 30px;
  width: 500px;
  height: 170px;
  background: #e6ebeb;
}
.groundImgList{
  cursor: pointer;
  padding-top: 1%;
  width:600px;
  display:flex;
  justify-content: space-evenly;
  margin-bottom: 3%;
}

.groundImgList img{
  width:130px;
  height:90px;
}
.groundImgList img:hover{
  border:3px solid gray;
}

@media screen and (max-width:1200px){
  .groundInfo_wrap{
    width:100%;
  }
  .groundMainImg{
    margin-left: 5%;
  }
  .groundImgList{
    margin-left: 5%;
  }
  .groundInfo_text{
    width: 100%;
  }

  .groundIntroduceText{
    width: 100%;
  }
}


@media screen and (max-width:960px){
 
  .groundMainImg{
    display: none;
  }
  .groundInfo_text{
    margin-left: 0%;
    text-align: center;
  }
  .groundIntroduceText{
    width: 70%;
    padding:5px 20px;
    margin: 0 auto;
    margin-top: 5%;
    height: 100px;
  }
  .groundImgList{
    width:90%;
    cursor: none;
    flex-direction: column;
    justify-content: center;
    margin: 3% auto;
  }
  .groundImgList img{
    margin-bottom: 5%;
    width:100%;
    height:100%;
  }
  .groundImgList img:hover{
    border:0px solid gray;
  }

}
