li{
    list-style: none;
}

.bookable, .unbookable{
    margin-bottom: 20px;
}
.date{
    position: relative;
    top:-10px;
    left:-70px;
    
}
.calendar{
    padding: 2% 0%;
}

.calendarHeader{
    padding: 18px;
    background: black;
    text-align: center;
}
.calendarHeader span{
    color:white;
    font-size: 22px;
    
}
/*.calendarTable {
    width:1200px;
    
}*/
.calendarTable thead tr th, .calendarTable tbody tr td{
    font-size: 18px;
    border:1px solid gray;
    padding: 1% 0%;
}

.calendarChoiceDate{
    background: #b2d4c0;
}

.unbookable{
    color:red;
}
.bookable:hover{
    border-bottom: 3px solid gray;
    cursor: pointer;
}

.clear{
    clear: both;
}

.reservation_wrap{
    width:1200px;
    margin: 0 auto;
}
.choiceList{
    width: 1200px;
    margin: 0 auto;
    list-style: none;
    border-bottom: 1px solid gray;
    padding:2% 0%;
    font-size: 22px;
    
}
.choiceList li{
    display: inline;
    margin-right: 5%;
    color:gray;
    cursor: pointer;
    padding: 10px 20px;
}
.choiceInfo{
    border-bottom: 2px solid black;
}

.js-previousMonth, .js-nextMonth{
    cursor: pointer;

    padding: 6px 12px;
}