.timeTableForm{
    margin-top: 1%;
    float: left;
    margin-left:5%;
    width: 350px;
}
.timeTableForm ul{
    margin-top: 5%;
    list-style: none;
}
.timeTableForm ul li{
    display: inline-block;
    margin-right: 4%;
}
.timeTableForm ul label{
   
}
.timeInput{
    width:30px;
    height: 30px;
    float: left;
    
} 
.timeLabel{
    padding: 0px 15px;
 
}


.clear{
    clear: both;
}

.t{
    border:1px solid black;
    width: 1200px;
    height: 100px;
    margin: 0 auto;
}
.t div{
    border: 1px solid gray;;
    width: 200px;
        
}