.ground_reviewComponent_wrap{

    width: 1200px;
    margin: 0 auto;
    
    font-size: 20px;
}
.ground_reviewComponent_wrap>.title{
    text-align: center;
    
}
.reviewInfo_wrap{
    border-bottom: 1px solid rgb(168, 168, 168);
    padding: 4% 0%;
}
.reviewInfo_wrap>.account{
    font-size: 1.2em;
    font-weight:bold;
}
.reviewInfo_wrap>.useDate{
    padding: 1% 0%;
    font-size: 1em;
    color:gray;
}
.reviewInfo_wrap>.text{

}
