*{margin:0; padding:0;}
.reservationNotice_wrap{
 
    height: 800px;
}
.reservationImage{
    position: absolute;
    top:0;
    left:0;
    width:1920px;
    height:800px;
    filter: brightness(50%); 
    z-index: -1;
}


.reservation_text{
    text-align: center;
    color:white;
    margin-top:200px;
}
.reservation_text>li{
    font-size:23px;
}
.reservation_text>h1{
    margin-top: 3%;
}

.reservationMoveBtn{
    cursor: pointer;
    padding: 15px 40px;
    background-color: #2ecc71;
    border-radius: 15px;
    color:white;
}

.reviewMoveBtn{
    color:white;
    width:240px;
    height:70px;
    background-color: #2ecc71;
    border-radius: 15px;
    margin-top:3%;
    cursor: pointer;
    border:0;
}

.reviewNotice_wrap{
    margin-top: -170px;
    display: flex;
    justify-content: center;
}
.reviewImage{
    width:600px;
    height: 400px;
}
.reviewText{
    margin-left: 5%;
    list-style: none;
}
.reviewText li{
    margin:5% 0px 3% 0%;
}

@media screen and (max-width:800px){
    .reviewNotice_wrap{
        flex-direction: column;  
    }
    .reviewImage{
        width: 100%;
        min-width: 550px;
        height: 100%;
    }
    .reviewText{
        margin:7% 0%;
        text-align: center;
    }
    .reservationNotice_content>h1{ /* >  요 표시가 저 클래스의 직속 자식 중 h1을 뜻함 */
    /*만약 <li><h1>이렇게 되어있는거에는 영향을 안줌</h1></li>*/
        margin-top: 7%;
    }
}