body{margin:0; font-family: 'Noto Sans KR', sans-serif;}



.navbar{
   /* margin: 0 auto;
    width: 1200px;*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    padding: 8px 12px;
    position: sticky;  /*top,left,right,bottom 중 한개의 속성이 필수.*/
    top:0;
    z-index: 1;
    
}
.navbar_logo{
    font-size:24px;  /*awesome logo는 font임*/
    padding:8px 12px;
}


.navbar_menu{
    display:flex;
    list-style: none;
    padding-left: 0px;
    font-size:1.2em;
}

.navbar_menu li{
    padding:8px 12px; /*margin을 넣으면 박스 자체가 작아진다*/ 
}

.navbar_menu li a , .navbar_logo a{
    color:black;
}
.navbar_menu li a{
    padding: 8px 12px;
}
.navbar_menu li:hover{
    background-color: #2ecc71;
    border-radius: 8px;
}

.navbar_account{
    display:flex;
    padding-left: 0px;
}
.navbar_account li{
    list-style: none;
    padding:8px 12px;
}

#navbar_account_join{
    background-color: #2ecc71;
    border-radius: 8px;
}
#navbar_account_join a{
    color:white;
}
.navbar_hamburgerBtn{
    display:none;
}

.js-logout{
    cursor: pointer;
}

@media screen and (max-width:800px){
    .navbar{
        flex-direction: column;
        align-items: flex-start;
    }
    .navbar_menu{
        display: none;
        flex-direction: column;
        width: 100%;
    }
    .navbar_menu li{
        width: 100%;
        text-align: center;
        border-bottom: 1px solid black;
    }
    .navbar_menu li a{
        padding: 8px 250px;
    }
    .navbar_account{
        margin-top: 3%;
        display: none;
        width:100%;
        justify-content: center;
    }
    .navbar_hamburgerBtn{
        display: block;
        position: absolute;
        cursor: pointer;
        right: 30px;
        top:15px; 
    }
    .navbar_hamburgerBtn img{
        width:35px;
        height:35px;
        color:#2ecc71
    }
    .navbar_menu.active, .navbar_account.active{
        display: flex;
    }
}

@media screen and (max-width:650px){.navbar_menu li a{padding: 8px 200px;}}
@media screen and (max-width:550px){.navbar_menu li a{padding: 8px 100px;}}