body{margin:0; font-family: 'Noto Sans KR', sans-serif;}
a{text-decoration: none; color:black;}

.navbar_topbox{
    width: 100%;
    height: 64px;
    position: fixed;
    background-color: #ecf0f1;
}
.navbar{
   /* margin: 0 auto;
    width: 1200px;*/
    display:flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ecf0f1;
    padding: 8px 12px;
    position: sticky;  /*top,left,right,bottom 중 한개의 속성이 필수.*/
    top:0;
    z-index: 1;
    
}
.navbar_logo{
    font-size:24px;  /*awesome logo는 font임*/
   
    padding:8px 12px;
}
.navbar_logo i{
    color: #2ecc71;
}

.navbar_menu{
    display:flex;
    list-style: none;
    padding-left: 0px;
    font-size:1.2em;
}

.navbar_menu li{
    padding:8px 12px; /*margin을 넣으면 박스 자체가 작아진다*/ 
}
.navbar_menu li:hover{
    background-color: #2ecc71;
    border-radius: 8px;
}

.navbar_account{
    display:flex;
    padding-left: 0px;
}
.navbar_account li{
    list-style: none;
    padding:8px 12px;
}

#navbar_account_join{
    background-color: #2ecc71;
    border-radius: 8px;
}
#navbar_account_join a{
    color:white;
}
.navbar_hamburgerBtn{
    display: none;
}