body{margin:0;}
.content_wrap{
    background-color: #f3e9e9;
}

#reservation_wrap{

    background-image:url('../images/backImg_Main.jpg');
    background-size: 100% 800px;
    width:100%;
    height:800px;
    background-color: #ffffff;
    background-color: rgba(255,255,255,0.5);
  
    position: relative;
    top:0;
  
    font-size:23px;
}
#reservation_text{
    color:white;
    
    align-items: center;
}
#reservationBtn{
    color:white;
    width:230px;
    height:60px;
    background-color: rgb(34, 143, 83);
    border-radius: 15px;
    margin-top:3%;
    font-size: 0.9em;

    cursor: pointer;
}
#community_wrap{
    width:1200px;
   
    margin:0 auto;
    margin-top:5%;
    height:400px;
}
#communityImg{
    width:600px;
    height: 400px;
    float:left;
}
#communityText{
    float:left;
    margin-left:5%;
    
    width:500px;
    height:400px;
}